.about-container{
    padding: 50px;
}
.half-with img{
    border-radius: 10px;
    margin-right: 15px;
}
.heading{
    color: rgb(2, 2, 102);
}
.sm-heading{
    color: rgb(128, 2, 2);
}
.list-item{
    list-style: none;
    color: rgb(78, 53, 2);
}
.course-btn{
    width: 150px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: rgb(153, 4, 4);
    color: honeydew;
}